@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&subset=latin-ext');

body {
  color:white;
  font-size:16px;
  font-family: 'Montserrat';
  background-color: #2d253a;
}

header {
  min-height: 700px;
  background: url("fox.jpg") no-repeat center;
  background-size: cover;
  overflow:hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  font-size: large;
  font-family: 'Nunito';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 5rem;
  font-weight: bold;
}

.navbar li {
  display: inline-flex;
  justify-content: flex-end;
  list-style: none;
  padding: 1.25rem;
}

.navbar h2:hover,
.navbar ul li a:hover {
color: #ee7977;
}

.headerlogo .circle {
  height: 12.5rem;
  border-radius: 50%;
}

.name {
  text-align:center;
  font-size:2rem;
  font-weight:bold;
  margin:1rem;
}

.headerlogo {
  margin-top: 7rem;
  width: 100vw;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}

.important {
  width:13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.treeright {
  font-weight: 700;
  font-size: 1.5vw;
  width: 17vw;
  animation: show 6s 3s both ;
  opacity:0;
  margin-right: 2vw;
}

.treeleft {
  font-weight: 700;
  font-size: 2vw;
  width: 17vw;
  animation: show 3s 1.5s both ;
  opacity:0;
  margin-left: 2vw;
}

/* ------------- Druga Strona -------- */

.przejscie {
  background: linear-gradient(0deg, rgba(45,37,58,1) 0%, rgb(26, 26, 26) 300%);
  height: 10vh;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity:1;
  }
}

.experienceSec, .aboutMeSec, .reasonSec {
  width:80vw;
  margin:auto;
  -webkit-box-shadow: 0px 0px 13px 8px rgba(35,26,48,1);
  -moz-box-shadow: 0px 0px 13px 8px rgba(35,26,48,1);
  box-shadow: 0px 0px 13px 8px rgba(35,26,48,1);
}

.aboutMeText, .experienceText, .reasonText {
  padding:5vh;
  font-size:2rem;
  text-align:center;
  margin-bottom:2vh;
}

.aboutMeTextSmall, .experienceTextSmall {
  font-size:1.3rem;
  margin:auto;
  margin-top:6vh;
  margin-bottoM:3vh;
  width:60vw;
  text-align:center;
}

.music, .books, .politics {
  font-size: 1.2rem;
  line-height: 1.5rem;
  width:55vw;
  text-align:left;
}

.musicIcon, .bookIcon, .politicsIcon {
  font-size:9vh;
  width:10vw;
  padding:4vh;
  margin:center;
}

/* ---- Experience ---- */

.experience, .reason {
  margin-top:10vh;
}

.TextNormal {
  margin:auto;
  text-align:;
  font-size:1.5rem;
  margin:3vw 0 3vw 0;
  line-height: 2rem;;
}

.icon-restaurant, .icon-pencil-alt, .icon-shopping-bag {
  font-size:7vh;
  height:10vh;
  width:10vw;
}

/*----- reason -------*/

ol {
  word-wrap: break-word;
}

ol > li {
  list-style-type:square;
  text-align:left;
  margin:3vw;
  letter-spacing: 1px;;
}

.table {
  font-size:1.4rem;
  max-width:55rem;
  border: 7px double #fff;
  margin:auto;
}

footer {
  text-align:center;
  padding:10px;
  background-color: #333;
}

@media (max-width:850px) {
  .navbar-list {
      display:none
  }
  }