
.icon-down-1:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-up-big:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-pencil-alt:before { content: '\e805'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */